@media screen and (max-width: 1199px)
	.nav-item
		margin: 0 5px

@media screen and (max-width: 1024px)

	.header
		padding: 26px 0 25px
		border: solid 1px #e4e4e4
		box-shadow: 0 5px 35px 5px rgba(239, 239, 239, 0.05)
	.burger-menu
		display: block
		margin-right: 152px
	.header-left
		margin: 0 auto
	.header-center
		display: none