@media screen and (max-width: 1199px)
	.nav-item
		margin: 0 5px

@media screen and (max-width: 1024px)
	.container
		padding: 0 38px

	/*HEADER*/
	.header
		padding: 26px 0 27px
		border: solid 1px #e4e4e4
		box-shadow: 0 5px 35px 5px rgba(239, 239, 239, 0.05)
	.burger-menu
		display: block
		margin-right: 152px
	.header-left
		margin: 0 auto
	.header-center
		position: fixed
		top: 0
		left: 0
		transform: translateX(-100%)
		width: 100%
		max-width: 494px
		height: auto
		max-height: 100%
		padding-top: 97px
		background-color: #ffffff
		border: solid 1px #e4e4e4
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05)
		transition: all .3s
		z-index: 120
		.header-phone
			margin: 20px 30px 50px 37px
			font-size: 23px
			line-height: 25px
	.header-center.visible
		transform: translateX(0)
		transition: all .3s
	.header-center-inner
		display: flex
		flex-direction: column-reverse
		align-items: flex-start
		max-height: calc(100vh - 97px)
		border-top: solid 1px #e4e4e4
		overflow-y: auto
	.header-nav
		width: 100%
	.nav-list
		display: block
	.nav-item
		margin: 0
	.nav-link 
		padding: 30px 37px 29px
		font: 500 18px/21px "Raleway", sans-serif
		&:hover
			background-color: #f8f9fd
	.has-child .nav-link:after
		position: static
		display: inline-block
		width: 12px
		height: 7px
		margin: 3px 0 3px 10px
	.sec-menu
		position: static
		top: auto		
		display: none
		visibility: visible
		opacity: 1
		min-width: inherit
		width: 100%
		background-color: #f8f9fd
		border: none
		box-shadow: none
	.sec-menu:before, .sec-menu:after
		display: none
	.sec-menu-link 
		padding: 29px 30px 30px 67px
		background-color: transparent 
	.has-child:hover .sec-menu
		display: block


	.header-tablet
		position: absolute
		top: 100%
		left: 0
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		padding: 9px 38px
		background-color: #ffffff
		border-top: solid 1px #e4e4e4
		.header-phone
			font: 23px/25px 'Source Sans Pro', sans-serif
		.close
			display: block
			width: 42px
			height: 42px
			border: none
			border-radius: 50%
			background: #f8f9fd url(../img/close.png) no-repeat center
			background-size: 15px
			cursor: pointer


	/*BUNNER*/
	.bunner 
		min-height: 569px
		padding: 180px 0 15px 0
		background: url(../img/t-bunner-2.png) no-repeat right 15% bottom 8%, url(../img/t-bunner-1.png) no-repeat right bottom
	
	/*TYPE*/
	.section-type 
		h2
			margin: 15px 0 46px
		.btn-action
			margin-top: -10px
	.type-row
		flex-wrap: wrap
		margin: 0 -20px
	.type-col
		width: 50%
		max-width: 390px
		padding: 0 20px
	.type-item
		margin-bottom: 50px

	/*TESTIMONIALS*/
	.section-testimonials 
		padding: 20px 0 28px
	.testimonials-row
		margin: 0 -27px 21px
	.testimonials-col
		display: none
		width: 50%
		max-width: 481px
		padding: 0 27px
	.testimonials-col:first-child,
	.testimonials-col:nth-child(2)
		display: block

	/*CALLBACK*/
	.callback 
		padding: 40px 0 15px
		background: url(../img/t-callcenter_guy.png) no-repeat left top 64px
	.callback-inner
		justify-content: center
	.form-wrap
		border: none

@media screen and (max-width: 767px)
	.wrapper
		background: #fff url(../img/m-wrapper-bg.png) no-repeat center bottom 20px
		background-size: 100%
	.container
		padding: 0 20px
	
	/*header*/
	.header
		padding: 18px 0 19px
	.burger-menu 
		width: 27px
		height: 19px
		margin-right: 20px
		span
			height: 2px
			border-radius: 1px
			&:nth-child(2), &:nth-child(3) 
				top: 9px
			&:last-child
				top: 17px
	.header-left
		flex: 0 0 auto
		width: auto
	.header-logo
		.d-logo
			display: none
		.m-logo
			display: block
	.header-right
		.btn 
			min-width: 121px
			min-height: 29px
			padding: 7px 6px 7px 6px
			font: 500 12px/14px "Raleway", sans-serif
	.header-tablet 
		padding: 14px 20px 15px
		background-color: #fdfdfd
		.header-phone 
			padding-left: 30px
			font: 700 16px/25px "Source Sans Pro", sans-serif
		.close 
			width: 30px
			height: 30px
			background-size: 10px

	/*BUNNER*/
	h1
		margin: 10px 0
		font-size: 23px
		line-height: 1.57
	.bunner 
		min-height: 600px
		padding: 139px 0 214px 0
		background: url(../img/m-bunner.png) no-repeat right bottom 40px
		text-align: center
		font: 17px/22px "Source Sans Pro", sans-serif
		li
			margin-bottom: 13px
		.btn_transparent
			border: solid 1px #455fe8
	.bunner-inner
		justify-content: center
	.btn-wrap
		flex-direction: column
		align-items: center
		.btn
			margin: 0 0 20px 0

	/*TYPE*/
	.section-type 
		h2 
			margin: 15px 0 18px
		.btn-action
			margin-top: 0
	.type-col
		width: 100%
		max-width: 500px
	.type-item
		margin-bottom: 20px
		padding: 52px 16px 42px 16px
	
	/*TESTIMONIALS*/
	.section-testimonials 
		padding: 8px 0 10px
		h2
			margin-bottom: 12px
	.testimonials-row
		flex-wrap: wrap
		margin: 0 -20px
	.testimonials-col
		width: 100%
		max-width: 500px
		padding: 0 20px
	.testimonials-item
		padding: 88px 12px 31px 12px

	/*PARTNERS*/
	.partners
		padding: 10px 0
	.partners-inner
		flex-wrap: wrap
		.partner
			width: 50%

	/*CALLBACK*/
	.callback
		padding: 23px 0 154px
		background: url(../img/m-callcenter_guy.png) no-repeat left bottom
		h2
			margin-bottom: 38px
			font: 700 22px/26px "Raleway", sans-serif
		form
			max-width: 500px	
	.callback-inner
		padding: 0
	.form-wrap
		padding: 0
		.btn 
			min-width: 218px
			min-height: 53px
			margin-top: -4px
			padding: 11px 10px 13px 10px
			font: 500 18px/21px "Raleway", sans-serif

	.contact-wrap
		flex-wrap: wrap
	.contact-block
		width: 100%
		margin: 0 auto

@media screen and (max-width: 479px)
	.wrapper
		background: #fff url(../img/m-wrapper-bg.png) no-repeat center bottom 65px
		background-size: 100%
	.footer
		padding-bottom: 90px
	.contact-wrap
		flex-direction: column
		text-align: center
		padding: 0
	.phone-list
		padding: 35px 0 0 0
		&.phone-list:before 
			left: 50%
			top: 0
			transform: translateX(-50%)
		li 
			margin: 0 0 8px 0
	.working-hour, .mail 
		margin: 13px 0 0 0
		padding: 28px 0 0 0
	.working-hour:before, .mail:before 
		left: 50%
		top: 0
		transform: translateX(-50%)
	.social-wrap
		justify-content: center
		padding: 15px 25px
	.social-link
		margin: 15px 25px 20px